<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HTTP_ISpellerService" />
        <binding name="HTTPS_ISpellerService">
          <security mode="Transport" />
        </binding>
        <binding name="HTTP_IColloquialConverterService" />
        <binding name="HTTPS_IColloquialConverterService">
          <security mode="Transport" />
        </binding>
        <binding name="HTTP_IANERService" />
        <binding name="HTTPS_IANERService">
          <security mode="Transport" />
        </binding>
        <binding name="HTTP_IParserService" />
        <binding name="HTTPS_IParserService">
          <security mode="Transport" />
        </binding>
        <binding name="HTTP_ISarfService" />
        <binding name="HTTPS_ISarfService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rd00155d4a40ec/Services/SpellerService.svc" binding="basicHttpBinding" bindingConfiguration="HTTP_ISpellerService" contract="ATK.ISpellerService" name="HTTP_ISpellerService" />
      <endpoint address="https://atks.microsoft.com/Services/SpellerService.svc" binding="basicHttpBinding" bindingConfiguration="HTTPS_ISpellerService" contract="ATK.ISpellerService" name="HTTPS_ISpellerService" />
      <endpoint address="http://rd00155d4a25bd/Services/ColloquialConverterService.svc" binding="basicHttpBinding" bindingConfiguration="HTTP_IColloquialConverterService" contract="ATKCo.IColloquialConverterService" name="HTTP_IColloquialConverterService" />
      <endpoint address="https://atks.microsoft.com/Services/ColloquialConverterService.svc" binding="basicHttpBinding" bindingConfiguration="HTTPS_IColloquialConverterService" contract="ATKCo.IColloquialConverterService" name="HTTPS_IColloquialConverterService" />
      <endpoint address="http://rd00155d4a40ec/Services/ANERService.svc" binding="basicHttpBinding" bindingConfiguration="HTTP_IANERService" contract="ATKNER.IANERService" name="HTTP_IANERService" />
      <endpoint address="https://atks.microsoft.com/Services/ANERService.svc" binding="basicHttpBinding" bindingConfiguration="HTTPS_IANERService" contract="ATKNER.IANERService" name="HTTPS_IANERService" />
      <endpoint address="http://rd00155d4a25bd/Services/ParserService.svc" binding="basicHttpBinding" bindingConfiguration="HTTP_IParserService" contract="ATK.POS.IParserService" name="HTTP_IParserService" />
      <endpoint address="https://atks.microsoft.com/Services/ParserService.svc" binding="basicHttpBinding" bindingConfiguration="HTTPS_IParserService" contract="ATK.POS.IParserService" name="HTTPS_IParserService" />
      <endpoint address="http://rd00155d4a40ec/Services/SarfService.svc" binding="basicHttpBinding" bindingConfiguration="HTTP_ISarfService" contract="ATK.SARF.ISarfService" name="HTTP_ISarfService" />
      <endpoint address="https://atks.microsoft.com/Services/SarfService.svc" binding="basicHttpBinding" bindingConfiguration="HTTPS_ISarfService" contract="ATK.SARF.ISarfService" name="HTTPS_ISarfService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="HaifaDBconnstr" connectionString="data source=.;initial catalog=HaifaDB;integrated security=True;" providerName="System.Data.EntityClient" />
    <add name="HaifaDBEntities" connectionString="metadata=res://*/MyClasses.Model1.csdl|res://*/MyClasses.Model1.ssdl|res://*/MyClasses.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HaifaDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>